<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Chat Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Real-Time Chat Application</h1>
        <div id="chat" class="border rounded p-3 mb-3" style="height: 300px; overflow-y: auto;">
        </div>
        <div class="input-group mb-3">
            <input id="sender-input" type="text" class="form-control" placeholder="Your name..." />
        </div>
        <div class="input-group mb-3">
            <input id="message-input" type="text" class="form-control" placeholder="Type a message..." />
            <div class="input-group-append">
                <button id="send-message" class="btn btn-primary">Send</button>
            </div>
        </div>
        <div>
            <button onclick="sendConfetti()">CONFETE</button>
            <button onclick="sendAudio()">🔊 Ativar som</button>
        </div>
    </div>
    <audio id="som-confete" src="https://www.soundjay.com/buttons/sounds/button-3.mp3"></audio>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
    function setConnected(connected){
        document.getElementById('send-message').disabled = !connected;
    }

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            stompClient.subscribe('/topic/messages', function (message) {
                showMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/topic/confetti', function () {
                confetti();
            });
            stompClient.subscribe('/topic/audio', function () {
                tocarSom();
            });
        });
    }

    function showMessage(message){
        var chat = document.getElementById('chat');
        var messageElement = document.createElement('div');
        messageElement.textContent = message.sender + ': ' + message.content;
        messageElement.class = "border-bottom mb-1";
        chat.appendChild(messageElement);
        chat.scrollTop = chat.scrollHeight;
    }

    function sendMessage(message){
        var sender = document.getElementById('sender-input').value;
        var content = document.getElementById('message-input').value;
        var chatMessage = {
            sender: sender,
            content: content
        }
        stompClient.send('/app/send-message', {}, JSON.stringify(chatMessage));
        document.getElementById('message-input').value = '';
    }

    function confetti(){
        const duration = 2000;
        const end = Date.now() + duration;

        (function frame() {
            confetti({
                particleCount: 6,
                spread: 70,
                origin: {
                    x: Math.random(),
                    y: Math.random() - 0.2
                }
            });

            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }
        })();

        Swal.fire({
            title: 'Sucesso!',
            text: 'Parabéns! Você acabou de receber um vírus! 🎉',
            icon: 'success',
            confirmButtonText: 'Aceito de bom grado'
        });
    }

    function sendConfetti(){
        stompClient.send('/app/confetti', {}, JSON.stringify({
            type: 'CONFETTI'
        }));
    }

    function sendAudio(){
        stompClient.send('/app/audio', {}, JSON.stringify({
            type: 'AUDIO'
        }));
    }

    function tocarSom() {
        const audio = document.getElementById("som-confete");
        audio.currentTime = 0;
        audio.play().catch(() => {
            console.log("Som bloqueado pelo navegador");
        });
    }

    document.body.addEventListener('click', () => {
        const audio = document.getElementById("som-confete");
        audio.play().then(() => {
            audio.pause();
            audio.currentTime = 0;
        }).catch(() => {});
    }, { once: true });

    document.getElementById('send-message').onclick = sendMessage;
    window.onload = connect;
</script>
</html>